/* html tags */

h1,h2{
  font-family: 'Montserrat';
}

h1{

  font-size: 3.5rem;
  height: 1.5;

}

h2{

  color: #fff;
  font-size: 2.5rem !important;
}

body{
  font-family: 'Montserrat';
}

em{
  color: #fff;
}

/* title section */
.headline{
  color: white;
  line-height: 1.5;
  margin-bottom: 40px;
  font-size: 3.5rem;
}
.nav-link{
  margin-right: 18px;
  margin-left: 18px;
  font-size: 1.2rem;
  font-weight: lighter;
}

.conrainer-fluid{
  padding: 3% 15% 7%;

}

.downloadbtn{
  margin-right: 10px;
}

.rotated{
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
}

.navbar{
  padding: 0 0 4.5rem !important;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2rem !important;
  font-weight: bold;
}

#title{
  background-color: #ff4c68;


}

/* features section */

#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.feature{
  text-align: center;
  padding: 5% !important;
}


.featuresheadlines{
  font-family: 'Montserrat';
  font-size: 1.5rem;
}

.icon{
  color: #ef8172;
  padding-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

p{
  color: #8f8f8f;
}

/* testamonial - section */

#testimonials{
  text-align: center;
  background-color: #ef8172;
}

.testimonials-image{
  width: 100px;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}

/* press-section */

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

.press-images{
  width: 15%;
  margin: 20px 15px 20px 12px;
}

/* pricing section */


/* call to action section */

#cta{
  text-align: center;
  background-color: #ff4c68;
  padding: 7% 15%;
}

.cta-headline{
  font-family: 'Montserrat';
  color: #fff;
  font-size: 3.5rem;
  line-height: 1.5;
}
.ctabtn{
  margin: 2.5rem 1rem 3rem ;
}

.cta-icon{
  padding-right: 0.2rem;
}

/* footer */

#footer{
  text-align: center;
  padding: 5rem;
}

.footer-icon{
  margin: 20px 10px;
}


@media (max-width: 1028px) {
  .rotated{
    position: static;
    transform: rotate(0);
    padding-top: 1rem;
  }
  #title{
    text-align: center;
  }

}
